#keret{
    margin:auto;
    border-style: none solid;
	border-color:gray;
    border-width: 20px;
    width:60%;
    padding:20px;
}
.ritka{
    letter-spacing:4px;
}
#kep{
    width:40%;
    box-shadow: 8px 8px 5px gray;
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
    border-radius: 10px;
    border-style: solid;
    border-width:3px;
    margin:30px;
    float:right;
}
input{
    font-family:cursive; 
    font-weight: bold;
    border-radius: 5px; 
    width:50px;  
    color:forestgreen;
    font-size:20px;
}
body{
    font-family: cursive;
    background: url(./hatter.jpg);
    background-size: cover;
}
p{
    text-align: justify;
}
ul{
    list-style-type: square;
    font-style:italic ;
    font-weight: bold;
}